extends layout

block content
  a( href='/' ) Go Back
  form( method='POST' action='/new' )
    h1= title
    input( id='writer' type='text' name='writer' placeholder='Enter Your Name' required='' )
    input( id='message' type='text' name='message' placeholder='Enter Message' required='' )
    button( type='submit' ) Submit